
body{
    background: blueviolet;

}
.wrapper{
    /* position: absolute;
    top: 300px;
    left: 200px; */
    display: flex;
    position: relative;
    justify-content: center;
}
.conteiner{
    display: flex;
    background: lightblue;
    height: 300px;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 180px;
}

.info{
    height: 300px;
    width: 380px;
    margin-right: 10px;
    padding-top: 0px;
}
.img-fone{
   background-image: url("weather.jpg");
   height: 100%;
   width: 100%;
   /* opacity: 0.6; */
   font-family: 'Kalam', cursive;
   font-weight: 800;
   font-size: 36px;
   display: flex;
   text-align: center;
   align-items: center;
}
.img-text{
    color: white;
}
.in-city{
    height: 30px;
    padding-left: 15px;
    border-style: none;
    border-bottom: 2px solid blueviolet;
    background: lightblue;
}
.bt-date{
    padding: 7px;
    margin: 20px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    background: white;
    color: #757575;
}
.bt-date:hover{
    color: white;
    font-weight: bold;
    background: blue;
}
.date-form{
    margin: 0px;
    padding: 0 auto;
}
